   
   
  
  
  <mat-card class="example-card">  
     
    <hr class="class-1" /> 
    <mat-card-header class="back">            
        <span class="three-icons">
            sort
            </span>
            <h1 class="font">My Jobfeed</h1>
            
                <span class="search-icons">
                    search
                    </span>
                    <span class="filter-icons">
                        filter_alt
                        </span>
    </mat-card-header>
  <mat-card class="box">
    <div class="detail" matTooltip="name" matTooltipPosition="before">
        <div class="img">
            <img src="assets/images/canada.svg" alt="company" >
            <span class="text">Amazon - Business Intelligence Engineer</span>
        </div>   
      
    </div>
    <div class="detail" matTooltip="profile" matTooltipPosition="before">
       
            <span class="key-icons">
                markunread
                </span>
        <span  class="text">8- 14 year</span>
        <span class="key-icons">
            person_pin_circle
            </span>
       
        <span  class="text">India</span>
       
        <span  class="text">05/10</span>
        <span class="key-icons">
            label_important
            </span>
    </div>   
  </mat-card>    
  <mat-card class="box">
    <div class="detail " matTooltip="name" matTooltipPosition="before">
        <div class="img">
            <img src="assets/images/india.svg" alt="company" >
            <span class="text">Redbus - Backend Engineer</span>
        </div>   
     
    </div>
    <div class="detail" matTooltip="profile" matTooltipPosition="before">
       
            <span class="keys-icons">
                markunread
                </span>
        <span  class="text">11- 14 year</span>
        <span class="keys-icons">
            person_pin_circle
            </span>
       
        <span  class="text">Canada</span>
       
        <span  class="text">09/10</span>
        <span class="keys-icons">
            fiber_manual_record
            </span>
    </div>   
  </mat-card>    
  
  <mat-card class="box">
    <div class="detail " matTooltip="name" matTooltipPosition="before">
        <div class="img">
            <img src="assets/images/usa.svg" alt="company" >
            <span class="text">Flipkart - Software Development Manager</span>
        </div>   
      
    </div>
    <div class="detail" matTooltip="profile" matTooltipPosition="before">
       
            <span class="key-icons">
                markunread
                </span>
        <span  class="text">11- 14 year</span>
        <span class="key-icons">
            person_pin_circle
            </span>
       
        <span  class="text">USA</span>
       
        <span  class="text">13/10</span>
        <span class="key-icons">
            fiber_manual_record
            </span>
    </div>   
  </mat-card>    
  <mat-card class="box">
    <div class="detail " matTooltip="name" matTooltipPosition="before">
        <div class="img">
            <img src="assets/images/australia.svg" alt="company" >
            <span class="text">Swiggy - Data Science</span>
        </div>   
      
    </div>
    <div class="detail" matTooltip="profile" matTooltipPosition="before">
       
            <span class="key-icons">
                markunread
                </span>
        <span  class="text">8- 10 year</span>
        <span class="key-icons">
            person_pin_circle
            </span>
       
        <span  class="text">Australia</span>
       
        <span  class="text">13/10</span>
        <span class="key-icons">
            label_important
            </span>
    </div>   
  </mat-card>    
   
  
  
 
      
  </mat-card>